@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

header.top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    background-color: rgb(0, 0, 0);
    height: 85px;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

#back-toggle {
    position: absolute;
    left: 10px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

#back-toggle i {
    color: white;
    font-size: 35px;
    font-weight: bold;
}

.title,
.logo,
.bangers-regular {
    text-align: center;
    color: white;
    cursor: pointer;
}

.logo {
    font-size: 40px;
}

.bangers-regular {
    padding: 5px;
    font-family: "Bangers", system-ui;
    font-weight: 400;
}

.content {
    display: flex;
}

.티바로우-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(30% - 25px);
    background-color: #ebebeb;
    position: fixed;
    height: 100vh;
    overflow: hidden;
}

.fixation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}

.티바로우-content img {
    width: calc(80% - 25px);
}

.scroll-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 100vh;
    margin-top: 140px;
    margin-left: 34%;
    row-gap: 45px;
}

.티바로우1,
.티바로우2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.티바로우1-content,
.티바로우2-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: clamp(50px, 5vw, 120px);
}

.티바로우1 img {
    width: calc(14vw + 85px);
    margin-top: 15px;
}

.티바로우2 img {
    width: calc(17vw + 50px);
}

.티바로우2 {
    margin-right: 20px;
}

ol {
    line-height: 1.8;
    margin-top: 40px;
    font-size: 14px;
}

li {
    margin: 10px;
}

ol li:last-of-type {
    font-weight: bold;
}

.set {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ol-content {
    width: 100%;
    max-width: 400px;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

.choice-container,
.img,
.content2 {
    display: none;
}

.other-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

.주의사항, .부가설명 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
}

ul {
    line-height: 1.8;
    margin-top: 70px;
    font-size: 14px;
}

.ul-content {
    margin: 0;
}

@media (max-width: 1090px) {

    .티바로우-content,
    .scroll-section {
        display: none;
    }

    .choice-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 46px;
        font-weight: bold;
        background-color: #ebebeb;
        border: 1px solid #e0e0e0;
        position: fixed;
        top: 85px;
        left: 0;
        width: 100%;
        z-index: 999;
    }

    .content2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 170px 0 50px 0;
        row-gap: 50px;
    }

    .flex-content {
        display: flex;
        column-gap: clamp(10px, 10vw, 120px);
        align-items: center;
        margin: 0 20px;
    }

    .img {
        display: flex;
        width: calc(20vw + 130px);
        max-width: 350px;
        height: calc(21vw + 140px);
    }

    .티바로우1-2,
    .set1,
    .set2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .set1 img, .set2 img {
        width: calc(18vw + 130px);
    }

    .ol-content1 {
        width: 100%;
        max-width: 380px;
        word-wrap: break-word;
        word-break: break-all;
        white-space: normal;
    }

    .ol-content2 {
        width: 120%;
        max-width: 380px;
        word-wrap: break-word;
        word-break: break-all;
        white-space: normal;
    }

    .ol-content1 ol {
        padding: 0 20px 0 25px;
    }

    ol {
        margin-top: 50px;
        padding: 0 10px 0 20px;
    }

    li {
        font-size: clamp(12px, 2vw, 16px);
        overflow-wrap: break-word;
    }

    .티바로우2-2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: clamp(10px, 5vw, 130px);
        margin: 0 20px;
    }

    .ul-content {
        width: 85%;
        padding-left: 20px;
    }

    .티바로우2-3 {
        display: none;
    }
}

@media (max-width: 550px) {
    .content2 {
        row-gap: 0;
    }

    .flex-content {
        column-gap: 13px;
    }

    .주의사항 {
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    header.top-bar {
        padding: 10px 15px;
        height: 70px;
    }

    #back-toggle {
        margin-top: 5px;
    }

    #back-toggle i {
        color: white;
        font-size: 25px;
        font-weight: bold;
    }

    .bangers-regular {
        font-weight: 400;
        font-size: 35px;
        margin: 5px 0 0 0;
    }

    .choice-container {
        display: flex;
        justify-content: center;
        border: none;
        height: 40px;
        position: fixed;
        top: 70px;
    }

    p {
        font-size: 13px;
    }
    
    .티바로우2-2 {
        display: none;
    }

    .content2 {
        display: flex;
        flex-direction: column;
        margin: 80px 0 50px 0;
        row-gap: 40px;
    }

    .flex-content {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }

    .ol-content1 {
        width: 105%;
    }

    .ol-content3 {
        width: 90%;
    }

    .img {
        width: 180px;
        height: auto;
        margin-top: 60px;
    }

    .set1 img, .set2 img{
        width: 230px;
    }

    .ol-content1 {
        padding: 0 10px 0 20px;
    }

    ol {
        margin-top: 20px;
    }

    li {
        font-size: 13px;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
    }

    .티바로우2-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .주의사항 {
        margin: 0;
    }
}